/* index.css */
@import url('./theme.css');

body {
  margin: 0;
  background-color: var(--cor-fundo);
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
