:root {
    --cor-primaria: #2563eb;
    --cor-secundaria: #1F2937;
    --cor-verde: #38A169;
    --cor-vermelho: #E53E3E;
    --cor-fundo: #f5f6fa;
    --cor-branca: #ffffff;
    --cor-borda: #e5e7eb;
    --fonte-padrao: 'Segoe UI', sans-serif;
  }
  